*.txt
outputs
.venv
*cookie*
*.mp4
val/                 
__pycache__/        
frames/            
frames_dup/          
checkpoints/             
tensorboard_logs/        
captions/             
captions_csv/               
temp/                         
*.pth                         
*.ckpt                        
.DS_Store  
video_inference_transformer_cls/